.calculator{
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
  margin: 3em auto;
  width: 100%;
  max-width: 30em;
  border-radius: 1em;
  gap: 2em;
}