.calculator{
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 2em; */
  margin: 3em auto;
  width: 100%;
  max-width: 15em;
  border-radius: 0.5em;
  gap: 2em;
  background-color: black;
  color: #fff;
}

.buttons{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 0.3em;
  padding: 0.3em;
}